<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177831021709-hr0cij5jbgs12cnkevhqaa5n0dapbf17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177831021709-hr0cij5jbgs12cnkevhqaa5n0dapbf17</string>
	<key>API_KEY</key>
	<string>AIzaSyAVLxy4m7XpesZQHfqwPLvqzGaAGAKqeQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>177831021709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.dooz.nordicNrfMeshExample</string>
	<key>PROJECT_ID</key>
	<string>nrf-mesh-plugin-example</string>
	<key>STORAGE_BUCKET</key>
	<string>nrf-mesh-plugin-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177831021709:ios:3348b16038eaacbafaa6c4</string>
	<key>DATABASE_URL</key>
	<string>https://nrf-mesh-plugin-example.firebaseio.com</string>
</dict>
</plist>